<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="../public/css/home.css">
    </head>
    <body>
        <div class ="container">
            <div class="imageC">
                <img src="../public/images/welcome.jpg" width="300" height="300">
            </div>
            <h1>Get Organized Your Life</h1>
            <p>tudy is a simple and effective <br>to-do list and task manager app
                <br>which helps you manage time</p>
            <br>
            <button type="button">Get Started</button>
        </div>
    </body>

</html>