<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>check your lists</title>
        <link rel="stylesheet" href="../public/css/lists.css">
    </head>
    <body>
        <div class ="container">
            <div class="header">
                <div calss="text">
                    <h2>Hello!</h2>
                    <p>check your lists</p>
                </div>
                <div class="image">
                    <img src="../public/images/list.jpg" width="100" height="100">
                </div>
            </div>
            <div class="lists">
                <ul id="lists">
                    <li>projects</li>
                    <li>collage</li>
                </ul>
            </div>
            <button type="button">+</button>
    
        </div>
    </body>
</html>