<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>check your lists</title>
        <link rel="stylesheet" href="../public/css/lists.css">
    </head>
    <body>
        <div class ="container">
            <div class="header">
                <div calss="text">
                    <h2>Hello!</h2>
                    <p>check your lists</p>
                </div>
                <div class="image">
                    <img src="../public/images/list.jpg" width="100" height="100">
                </div>
            </div>
            <div class="lists">
                <ul id="lists">
                    <li>
                        <label>projects</label>
                        <button class="delete" type="button"><img src="../public/images/delete.png" height="15" width="15"></button>
                    </li>
                    <li>
                        <label>courses</label>
                        <button class="delete" type="button"><img src="../public/images/delete.png" height="15" width="15"></button>
                    </li>
                </ul>
            </div>
            <div calss="input">
                <form action="">
                    <input type="text" id="input" placeholder="">
                    <button class="add"  type="submit">+</button>
                </form>

            </div>
    
        </div>
    </body>
</html>