<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>tasks</title>
        <link rel="stylesheet" href="../public/css/tasks.css">
    </head>
    <body>
        <div class ="container">
            <div class="header">
                <div calss="text">
                    <h2>list Name</h2>
                    <p>complete your tasks</p>
                </div>
                <div class="image">
                    <img src="../public/images/list.jpg" width="100" height="100">
                </div>
            </div>
            <div class="list">
                <ul class="checklist">
                    <li>
                        <label>Item 1</label> 
                        <input type="checkbox" id="item1" >
                    </li>
                    <li>
                        <label>Item 2</label>
                        <input type="checkbox" id="item2" >
                    </li>
                    <li>
                        <label>Item 3</label>
                        <input type="checkbox" id="item3">
                    </li>
                  </ul>  
            </div>
            <div calss="input">
                <form action="">
                    <input type="text" id="input" placeholder="add new task">
                    <button  type="submit">+</button>
                </form>

            </div>

    
        </div>
    </body>
</html>